/* 
========================
    Footer section
========================
*/
.footer {
  background-color: var(--footer-bg-color);

  font-weight: 400;
  line-height: 1.7;
  letter-spacing: 0.42px;

  padding-top: 60px;

  &--gray-link {
    color: var(--footer-text-color);
  }
}

.footer__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: baseline;
}

.footer__group {
  width: 100%;

  margin-bottom: 60px;

  text-align: center;

  &:last-child {
    flex-grow: 2;
  }
}

.footer__contacts {
  font-style: normal;
  color: var(--primary-whyte-color);
}

.footer__contacts-address {
  display: inline-block;
  margin-bottom: 12px;

  line-height: 1.1;
  letter-spacing: 0.42px;
}

.footer__list {
  line-height: 1.1;
  letter-spacing: 0.42px;
}

.footer__item {
  margin-bottom: 12px;

  &:last-child {
    margin-bottom: 0px;
  }
}

.footer__title {
  color: var(--primary-whyte-color);
  font-size: var(--main-font-size);
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.42px;
  text-transform: uppercase;

  margin-bottom: 20px;
}

@media screen and (min-width: 768px) {
  .footer__group {
    flex-basis: calc(100% / 2);
  }
}

@media screen and (min-width: 1200px) {
  .footer {
    padding-bottom: 60px;
  }
  .footer__group {
    flex-basis: 25%;

    margin-bottom: 0px;
    text-align: left;
  }

  .footer__container {
    flex-wrap: nowrap;

    &:last-child {
      flex-basis: 50%;
    }
  }
}
